.color{
    background-color: blue;
}
.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  .mr-10{
      margin-right: 10px;
  }
  .title{
    text-align: center;
  }
  .items-Cards{
    background-color: teal;
    color: white;
  }
  .delete-icon{
background-color: white;
color: teal;
  }
  .right {
    position: absolute;
    right: 10px;
    top: 50px;
    width: auto;
  }