<mat-card>
    <h1 class="title"> House explorer </h1>
    <div class="title">
        <mat-form-field class="mr-10" appearance="standard">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="houseName" matInput placeholder="ex. Limon House">
            <mat-icon matSuffix>house</mat-icon>
        </mat-form-field>

        <mat-form-field class="mr-10" appearance="standard">
            <mat-label>Size</mat-label>
            <input [(ngModel)]="houseSize" type="number" maxlength="8" matInput placeholder="145,55">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="houseSingleFloor" class="mr-10" class="example-margin" color="primary"> Single-floor
        </mat-checkbox>

        <button mat-raised-button color="primary" [disabled]="addButonDisabled()" (click)="addHouse()">
            <mat-icon matSuffix>add</mat-icon>
            add house
        </button>
    </div>
    <div>

        <ng-container *ngFor="let item of houses | async; let odd = odd">
            <mat-card class="items-Cards" [ngClass]="odd ? 'secondTeal' : 'firstTeal'">
                <div>
                    <H3> {{item.name}}</H3>
                </div>
                <div>
                    complete size (meters):
                    {{ item.sizeInMeters }}
                </div>
                <div>
                    single floor:
                    {{ item.singleFloor ? 'yes' : 'no' }}
                </div>
                <div>

                    <button class="delete-icon right2" mat-raised-button (click)=" openDialog(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="delete-icon right" mat-raised-button (click)="deleteHouse(item.name)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
        </ng-container>
    </div>
</mat-card>